// Основные шрифты

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../fonts/Gilroy-Semibold.eot');
  src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Semibold.woff') format('woff'),
  url('../fonts/Gilroy-Semibold.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('../fonts/Gilroy-Extrabold.eot');
  src: url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Extrabold.woff') format('woff'),
  url('../fonts/Gilroy-Extrabold.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('../fonts/Gilroy-Heavy');
  src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Heavy.woff') format('woff'),
  url('../fonts/Gilroy-Heavy.woff') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

// Дополнительные шрифты

@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/Playfair Display Bold');
  src: url('../fonts/Playfair Display Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Playfair Display Bold.woff') format('woff'),
  url('../fonts/Playfair Display Bold.woff') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Playfair Display Black';
  src: url('../fonts/Playfair Display Black');
  src: url('../fonts/Playfair Display Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Playfair Display Black.woff') format('woff'),
  url('../fonts/Playfair Display Black.woff') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

// Миксины основные шрифты

@mixin mainRegular {
  font-family: 'Gilroy', sans-serif;
}

@mixin mainSemibold {
  font-family: 'Gilroy-Semibold', sans-serif;
}

@mixin mainExtrabold {
  font-family: 'Gilroy-Extrabold', sans-serif;
}

@mixin mainHeavy {
  font-family: 'Gilroy-Heavy', sans-serif;
}

// Миксины дополнительные шрифты (декоративные)

@mixin decorBold {
  font-family: 'Playfair Display Bold', serif;
}

@mixin decorBlack {
  font-family: 'Playfair Display Black', serif;
}